// Sidebar Block
//
// Sidebar block styling.
//
// Markup: block.hbs
//
// Style guide: components.block
aside .block {
  border: 1px solid $alto;
  padding: 10px;
  border-radius: 5px;
  background: $polar;
  h2 {
    font-size: 210%;
    padding-top: 0;
    margin-top: 0;
    color: $black;
    text-transform: uppercase;
  }
}

// logo values
div.site-branding a.logo {
  width: 105px;
  display: block;
  padding: 5px 5px 0;
  float: left;
  margin-bottom: 5px;
}
