// Header Main Menu
//
// Header menus styling for main nav
//
// Markup: header.hbs
//
// Style guide: components.header

.region-header {
  width: 100%;
  display: block;
  float: left;
}

.region-header nav.menu--main {
  background: $jelly-bean;
  ul.menu {
    padding: 0;
    margin: 0;
    text-align: left;
    li {
      display: inline-block;
      padding: 0;
      margin: 0;
    }
    a {
      color: $white;
      padding: 12px 10px;
      margin: 0;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        background: $gallery;
        color: $jelly-bean;
      }
    }
  }
}

