.drupal-messages {
  padding: 15px;
  margin: 15px 0;
  border: 1px solid white;
  border-radius: 5px;
  @extend .tmp-shadow;
  ol { @extend .no-ul-list; }
  &.messages--status {
    background: rgba($sft-blu, .3);
    color: $sft-blu;
  }
  &.messages--warning {
    background: rgba($yellow, .3);
    color: $dk-gr;
  }
  &.messages--error {
    background: rgba($red, .3);
    color: $red;
  }
}