// Primary Tabs
//
// Simple tabs styling.
//
// Markup: tabs.hbs
//
// Style guide: components.tabs
.tabs {
  margin: 1.5em 0;
}

.tabs ul {
  width: 100%;
  display: block;
  border-bottom: 1px solid $gallery;

  li {
    display: inline-block;

    a {
      padding: 0.4em 0.88em;
      text-decoration: none;
    }
  }
}
