// Colors ///////////////
// common colors
$white: #fff;
$red: #ee696c;
$yellow: #e8ed57;
// b&w colors as placeholders
$blk: #000;
$dark-gray: lighten($blk, 20%);
$med-gray: lighten($blk, 40%);
$light-gray: lighten($blk, 70%);
$lighter-gray: lighten($blk, 90%);
$off-white: lighten($blk, 97%);

// Utility color variables ///////////////
$heading: $dark-gray;
$link: $med-gray;

// Fonts ///////////////
$opensans: 'Open Sans';
$signika: 'Signika';

$heading_font: $opensans;
$body_font: $signika;

// Susy config ///////////////
$susy: (
columns: 12, // The number of columns in your grid
gutters: 1/4, // The size of a gutter in relation to a single column
);

// Breakpoints ///////////////
$min-tablet: 768px;

// baseline mq's

// Example Mixins ///////////////
@mixin opac-color($r, $g, $b, $pertc) {
  background: rgb($r, $g, $b);
  background: rgba($r, $g, $b, $pertc);
}
@mixin region-spacer($color, $direction: bottom) {
  border-top: 1px dotted $color;
  @if $direction == top {
    padding-top: 25px;
    margin-top: 25px;
  } @else {
    padding-bottom: 25px;
    margin-bottom: 25px;
  }
}
// Example Placeholders ///////////////
.no-ul-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  > li {
    display: inline-block;
    list-style-type: none;
    margin: 2px;
  }
}
.tmp-shadow {
  -webkit-box-shadow: 0px 0px 2px 0px rgba($med-gray, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba($med-gray, 1);
  box-shadow: 0px 0px 2px 0px rgba($med-gray, 1);
}
.blk-style {
  border: 1px solid $white;
  padding: 12px;
  border-radius: 5px;
  background: $off-white;
  @extend .tmp-shadow;
}
